<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="./js/common.js"></script>
    <script src="./js/admin.js"></script>
</head>
<body>
    <div class="bg-gray-100 min-h-screen py-8 sm:py-12 md:py-16">
    
    <div class="grid grid-cols-1 md:grid-cols-12 w-11/12 md:w-10/12 lg:w-9/12 mx-auto gap-6 sm:gap-8 md:gap-12">
        
        <!-- Left Form -->
        <!-- <div class="col-span-1 md:col-span-4 bg-white rounded-lg p-4 sm:p-5 md:p-6">
            <h1 class="text-xl sm:text-2xl font-semibold">Create Plan</h1>
            
            <form class="space-y-4 sm:space-y-5 md:space-y-6 mt-4 sm:mt-5 md:mt-6" onsubmit="createPlan(event)">
                <input name="name" placeholder="Enter plan name" required class="border border-gray-300 rounded p-2 sm:p-3 w-full"/>
                
                <input name="storage" type="number" placeholder="Enter storage in Mb ex- 200" required class="border border-gray-300 rounded p-2 sm:p-3 w-full"/>
                
                <input name="price" type="number" placeholder="00:00" required class="border border-gray-300 rounded p-2 sm:p-3 w-full"/>
                
                <button class="bg-rose-600 p-2 sm:p-3 rounded text-white px-4 sm:px-6 w-full sm:w-auto">
                    Submit
                </button>
            </form>
        </div> -->

        <!-- Plans Section -->
        <!-- <div class="col-span-1 md:col-span-8 grid grid-cols-1 sm:grid-cols-2 gap-4 sm:gap-6 md:gap-8" id="plans">
            
        </div> -->

    </div>

</div>
</body>
</html>